www.manifesto-ia.org {
  redir https://manifesto-ia.org{uri} permanent
}

manifesto-ia.org {
  encode zstd gzip
  log {
    output stdout
    format console
  }

  @api path /api/*
  reverse_proxy @api server:3001

  reverse_proxy client:80
}
