www.manifesto-ia.org {
  redir https://manifesto-ia.org{uri} permanent
}

manifesto-ia.org {
  encode zstd gzip

  @hasToken query token=*
  @hasVerify query verify=*
  @hasEmail query email=*
  @hasFullName query fullName=*
  @hasFullNameSnake query full_name=*
  log_skip @hasToken
  log_skip @hasVerify
  log_skip @hasEmail
  log_skip @hasFullName
  log_skip @hasFullNameSnake

  log {
    output stdout
    format filter {
      request>uri query {
        delete token
        delete verify
        delete email
        delete fullName
        delete full_name
        delete fullname
      }
      request>uri regexp "(?i)([?&](token|verify|email|full_?name)=)[^&]*" "${1}[REDACTED]"
      wrap console
    }
  }

  @api path /api/*
  reverse_proxy @api server:3001

  reverse_proxy client:80
}
